

@model MatriculadosModel

@{
    ViewData["Title"] = "Excluir";
}

<div class="text-center">

    <h1 class="display-4">Excluir Aluno Do Sistema</h1>

    <h1>Tem Centeza que Deseja excluir esse Aluno?? </h1>
</div>


    <a  class="btn btn-secondary" asp-controller="Matricula"  asp-action="Matricula">Voltar</a>
    <a  class="btn btn-primary" asp-controller="Matricula" asp-action="ConfirmarApagar" asp-route-id="@Model.Id">Excluir</a>


