
@model AlunosModel
@{
    ViewData["Title"] = "Alterar";
}

<div class="text-center">

    <h1 class="display-4">Editar Aluno</h1>


</div>

<form asp-controller="Alunos" asp-action="ConfirmarEdicao" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Sobrenome</label>
        <input type="text" asp-for="Sobrenome" class="form-control" id="exampleInputPassword1">
        @Html.ValidationMessageFor(x => x.Sobrenome)
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">idade</label>
        <input type="text" asp-for="Idade" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @Html.ValidationMessageFor(x => x.Idade)

    </div>
    <a class="btn btn-secondary " asp-controller="Alunos" asp-action="Alunos">Voltar</a>
    <button type="submit" class="btn btn-primary">Editar</button>

</form>
